* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.header {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img/utkibg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header__top {
    width: 100%;
    height: 5vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: top;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: space-between;
}

.header__top__texts {
    display: flex;
    margin-left: 5vw;
    font-size: 1.2vw;
}

.header__top__text {
    margin-right: 20px;
}

.header__top__texts .header__top__text:last-child {
    margin-right: 0px;
}

.header__top__phone {
    margin-left: 20vw;
    font-size: 1.5vw;
}

.header__top__icons {
    display: flex;
    font-size: 2vw;
    padding-right: 4vw;
    margin: 100 auto;
}

.header__top__icon {
    width: 3vw;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    height: 100%;
    text-align: center;
}

.big {
    font-weight: 800;
    font-size: 4vw;
    color: rgb(240, 240, 240);
}

.small {
    font-size: 1.5vw;
    width: 60%;
    font-weight: 600;
    color: rgb(235, 235, 235);
}

.big:hover {
    .duck {
        visibility: visible;
    }
}

.duck {
    content: url('img/duck.png');
    width: 13%;
    position: absolute;
    top: 13vh;
    right: 3vw;
    visibility: hidden;
}

.header__button {
    width: 14vw;
    height: 4vw;
    border-radius: 7px;
    margin-top: 6vw;
    background-color: rgb(250, 122, 75);
    cursor: pointer;
    border-width: 0px;
}

.header__button:hover {
    background-color: rgb(240, 112, 65);
    box-shadow: 0px 0px 10px 1px rgb(240, 112, 65);
}

.header__arrow {
    background-color: transparent;
    border: none;
    font-size: 6vh;
    color: rgba(235, 235, 235, 0.7);
    cursor: pointer;
    position: absolute;
    /* margin-top: 80vh; */
    bottom: 8vh;
    /* padding-bottom: 8vh; */
}

.catalog {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
}

.anchor {
    color: rgba(0, 0, 0, 0)
}

.catalog__text {
    width: 40vw;
}

.card-text {
    margin-left: 2vw;
    text-align: justify;
}

.second-card {
    margin-right: 2vw;
    text-align: justify;
}

.catalog__text .big {
    color: black;
    font-weight: 700;
    font-size: 2vw;
}

.catalog__text .small {
    color: black;
    font-weight: 300;
}

.catalog__title {
    margin-top: 15vw;
}

.catalog__list {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    width: 70vw;
}

.catalog__card {
    display: flex;
    margin-top: 4vw;
}

.catalog__picture {
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.catalog__picture img {
    width: 55vw;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.catalog__name {
    font-weight: 600;
    font-size: 2vw;
}

.catalog__price {
    font-weight: 400;
    font-size: 2vw;
    margin-top: 2vw;
}

.catalog__button {
    margin-top: 2vw;
    width: 7.5vw;
    height: 3vw;
    border-radius: 7px;
    /* margin-top: 6vw; */
    background-color: rgb(250, 122, 75);
    cursor: pointer;
    border-width: 0px;
    text-align: center;
    line-height: 3vw;
    color: white;
    font-size: 1.5vw;
}

.catalog__button:hover {
    background-color: rgb(240, 112, 65);
    box-shadow: 0px 0px 10px 1px rgb(240, 112, 65);
    color: goldenrod;
}

.catalog__about {
    margin-top: 2vw;
    font-size: 1.5vw;
}