* {
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
    scroll-behavior: smooth;
}

.header {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img/utkibg.jpg');
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-width: 1200px;
}

.header__top__mini {
    display: none;
    background-color: black;
    width: 100%;
    min-width: 1200px;
    position: top;
}

.header__top__mini .top-container {
    min-height: 64px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars {
    transform:scale(2);
}

.fa-times {
    transform:scale(3);
}

button[type="expand"] {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 999;
}

.expand-container {
    width: 100%;
    background-color: black;
}

.expand-container .menu {
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu button {
        background-color: transparent;
        border: none;
        margin-left: 30px;
        font-size: 18px;
        color: white;
        padding: 20px;
}

.header__top {
    width: 100%;
    min-width: 1200px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: top;
    display: flex;
}

.header__top .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: space-between;
}

.header__top__left {
    display: flex;
}

.header__top__left button {
    background-color: transparent;
    border: none;

    margin-left: 30px;
    font-size: 18px;
    color: white;
}

.header__top .text {
    margin-right: 20px;
}

.header__top .text:last-child {
    margin-right: 0px;
}

.header__top__right {
    display: flex;
    font-size: 26px;
    padding-right: 30px;
}

.header__top__icon {
    padding-top: 5.5px;
    padding-left: 5.5px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 660px;
    text-align: center;
}

.header__text {
    margin: 0 auto;
}

.header__text .big {
    font-weight: 800;
    font-size: 72px;
    color: rgb(240, 240, 240);
}

.header__text .small {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(235, 235, 235);
    padding-top: 39px;
}

.header__text .big:hover {
    .duck {
        visibility: visible;
    }
}

.duck {
    content: url('img/duck.png');
    width: 13%;
    position: absolute;
    top: 13vh;
    right: 3vw;
    visibility: hidden;
}

button {
    cursor: pointer;
    font-size: 16px;
}

button[type="buy_duck"] {
    width: 200px;
    height: 60px;
    background-color: #FF623B;
    border: none;
    border-radius: 7px;
    color: #F0F0F0;
    margin-top: 67px;
}

button[type="buy_duck"]:hover {
    background-color: rgb(240, 112, 65);
    box-shadow: 0px 0px 10px 1px rgb(240, 112, 65);
}

button[type="arrow"] {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: rgba(235, 235, 235, 0.7);
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

.catalog {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.anchor {
    color: rgba(0, 0, 0, 0)
}

.catalog__text {
    width: 960px;
    margin: 0 auto;
}

.card-text {
    margin-left: 40px;
    text-align: justify;
    width: 460px;
}

.second-card {
    margin-right: 40px;
    text-align: justify;
    width: 460px;
}

.catalog__text .big {
    color: black;
    font-weight: 700;
    font-size: 52px;
}

.catalog__text .small {
    color: black;
    font-weight: 300;
    font-size: 26px;
    padding-top: 40px;
}

.catalog__title {
    padding-top: 165px;
}

.catalog__list {
    display: flex;
    flex-direction: column;
    padding-top: 165px;
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
}

.catalog__card {
    display: flex;
    padding-bottom: 120px;
}

.catalog__card .picture {
    width: 460px;
    height: 460px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.catalog__text .name {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
}

.catalog__text .price {
    font-weight: 400;
    font-size: 26px;
    margin-top: 40px;
}

button[type="buy"] {
    margin-top: 40px;
    width: 110px;
    height: 45px;
    border-radius: 7px;
    background-color: #FF623B;
    cursor: pointer;
    border-width: 0px;
    color: white;
    font-size: 14px;
}

button[type="buy"]:hover {
    background-color: rgb(240, 112, 65);
    box-shadow: 0px 0px 10px 1px rgb(240, 112, 65);
}

.catalog__text .about {
    margin-top: 40px;
    font-size: 22px;
}

.uniqduck {
    font-size: 42px;
    padding-top: 150px;
    padding-bottom: 60px;

    background-color: #e8e8e8;
    min-width: 1200px;

    text-align: center;
    margin: 0 auto;
}

.uniqduck__text {
    text-align: center;
    padding-bottom: 60px;
    width: 760px;
    margin: 0 auto;
    line-height: 1.5;
}

.uniqduck__text .big {
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 3px;
}

.uniqduck__text .small {
    font-size: 21px;
    font-weight: 300;
    padding-top: 41px;
}

.uniqduck__form {
    text-align: center;
    width: 760px;
    margin: 0 auto;
    padding-bottom: 150px;
}

input {
    box-sizing: border-box;
    width: 760px;
    height: 60px;
    background-color: #e8e8e8;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 1px;
    border-radius: 7px;
    border-color: black;
}

textarea {
    box-sizing: border-box;
    width: 760px;
    height: 60px;
    background-color: #e8e8e8;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 1px;
    border-radius: 7px;
    border-color: black;
    padding-top: 17px;
    height: 102px;
    resize: vertical;
}

.uniqduck__form .text {
    text-align: left;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 30px;
}

button[type="submit"] {
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 7px;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.inst {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
}

.inst__text {
    padding-top: 150px;
    padding-bottom: 30px;
    width: 760px;
    margin: 0 auto;
}

.inst__text .big {
    font-size: 42px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 3px;
}

.inst__text .small {
    font-size: 24px;
    font-weight: 500;
    padding-top: 41px;
}

.inst__text a {
    color: #FF623B;
    text-decoration: none;
}

.inst__pictures {
    display: inline-flex;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
}

.picture {
    margin-right: 20px;
    width: 560px;
    height: 560px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.inst__smallpics {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.inst__smallpics .picture {
    width: 260px;
    height: 260px;
    margin: 0;
}

.inst__smallpics .picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.advantages {
    background-color: #e8e8e8;
    min-width: 1200px;

    text-align: center;
    margin: 0 auto;
    padding-bottom: 165px;
}

.advantages__text {
    width: 560px;
    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 105px;
}

.advantages__text .big {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}

.advantages__text .small {
    font-size: 24px;
    font-weight: 500;
}

.advantages__items {
    display: inline-flex;
    width: 1200px;
    margin: 0 auto;
}

.advantages .item {
    display: inline-flex;
    width: 400px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.advantages__items .text {
    width: 280px;
    padding-left: 20px;
    text-align: left;
}

.advantages__items .dark {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 13px;
}

.advantages__items .light {
    text-align: justify;
}

.basement {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img/utkibg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

.basement__block {
    width: 600px;
    height: 340px;
    background-color: white;
    color: black;
    padding: 80px;
    margin: 0 auto;
}

.basement .text {
    text-align: center;
    margin-bottom: 60px;
}

.basement .big {
    font-size: 42px;
    font-weight: 800;
}

.basement .light {
    font-size: 16px;
    line-height: 2;
}

.basement__icons {
    font-size: 50px;
    text-align: center;
}

.cart__icon {
    right: 25px;

    display: none;
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 4000;

}

.cart__icon_showed {
    display: block;
    z-index: 400000;
}

.cart__icon .container {
    position: relative;
    box-sizing: content-box;
}

.cart__icon .image {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    overflow: hidden;
}

.cart_icon-img {
    width: 40px;
    height: 40px;
    padding: 18px 20px 22px;
    stroke: #000;
}

.total-quantity {
    min-width: 30px;
    width: initial;
    height: 30px;
    padding: 0 5px;
    background-color: #ff623b;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.cart__win {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 4002;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.cart__win_showed {
    display: block;
    z-index: 100001;
}

button[type="close"] {
    width: 23px;
    position: absolute;
    top: 20px;
    right: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cart__win .content {
    margin: 65px auto;
    width: 100%;
    max-width: 560px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
}

.cart__win .top {
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.top .text {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.35;
}

.cart__win .products {
    display: table;
    width: 100%;
}

.products .product {
    display: table;
    width: 100%;
    height: 50px;
    vertical-align: middle;
}

.product .thumb {
    display: table-cell;
    width: 70px;
    height: 100px;
    padding-right: 20px;
    vertical-align: middle;
}

.thumb .image {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 7px;
    background-color: #eee;
    background-position: center;
}

.products .title {
    display: table-cell;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 600;
    vertical-align: middle;
    color: #000;
    text-align: left;
}

.product .plusminus {
    display: table-cell;
    width: 80px;
    padding: 13px 20px 16px;
    padding-left: 10px;
    vertical-align: middle;
    color: #000;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
}

.plusminus .minus {
    position: relative;
    display: inline-block;
    cursor: pointer;
    opacity: .4;
    width: 16px;
    height: 16px;
}

.plusminus .plus {
    position: relative;
    display: inline-block;
    cursor: pointer;
    opacity: .4;
    width: 16px;
    height: 16px;
}

.plusminus .quantity {
    font-size: 16px;
    line-height: 16px;
    margin: 0 5px;
    padding: 2px 5px;
    color: #000;
    border: 1px solid transparent;
}

.product .amount {
    display: table-cell;
    width: 80px;
    font-size: 16px;
    padding: 15px 0;
    vertical-align: middle;
    color: #000;
    white-space: nowrap;
}

.amount .price {
    display: inline-block;
}

.amount .currency {
    display: inline-block;
}

.product .delete {
    display: table-cell;
    width: 20px;
    padding: 15px 0 15px 15px;
    vertical-align: middle;
}

.delete .icon {
    cursor: pointer;
    display: inline-block;
    opacity: .4;
    height: 20px;
    width: 20px;
}

.icon img {
    width: 20px;
    height: 20px;
    border: 0;
}

.content .bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.bottom .container {
    display: block;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: black;
}

.bottom .price-box {
    white-space: nowrap;
}

.orderform {
    margin-top: 20px;
    margin-bottom: 20px;
}

.orderform .input-group {
    margin-bottom: 20px;
}

.orderform .title {
    display: block;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.orderform input {
    margin: 0;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-radius: 0;
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
}

.input-error {
    display: none;
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.input-error-2 {
    display: none;
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.uniqduck .input-error {
    font-size: 20px;
}

.uniqduck .input-error-2 {
    font-size: 20px;
}

.success-output {
    display: none;
    color: green;
    font-size: 40px;
}

.visible {
    display: block;
}

.orderform .error-box {
    display: none;
    background: #f95d51;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.error-box .text {
    color: white;
    font-size: 18px;
    padding: 20px 0 20px;
}

.orderform .submit {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.orderform button[type="submit"] {
    width: 100%;
    border-radius: 0;
}

.success-box {
    display: none;
    text-align: center;
    background: #62c584;
    color: #fff;
    margin-bottom: 20px;
    padding: 70px 0 70px;
}

.success-box .text {
    color: white;
    font-size: 18px;
    padding: 20px 0 20px;
}

@media screen and (max-width: 980px) {
    .header__top {
        display: none;
    }
    .header__top__mini {
        display:block;
    }
}